.text-box h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

p:nth-child(1) {
    color: red;
}

p:not(:nth-child(1), :nth-child(2), .yellow) {
    color: green;
}

p.yellow {
    color: yellow;
}

.lessons>tr:hover {
    background-color: tomato;
    color: white;
}

.schedule tr,
.lessons td {
    border: 1px solid #212121;
    padding: 8px;
}

.schedule {
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lesson1 a {
    color: black;
    display: block;
    text-decoration: none;
}

tr>.lesson1 a:hover {
    background-color: red;
    color: white;
}

.lesson2 a {
    color: black;
    display: block;
    text-decoration: none;
}

tr>.lesson2 a:hover {
    background-color: orange;
    color: white;
}

.lesson3 a {
    color: black;
    display: block;
    text-decoration: none;
}

tr>.lesson3 a:hover {
    background-color: yellow;
    color: black;
}

.lesson4 a {
    color: black;
    display: block;
    text-decoration: none;
}

tr>.lesson4 a:hover {
    background-color: green;
    color: white;
}

.lesson5 a {
    color: black;
    display: block;
    text-decoration: none;
}

tr>.lesson5 a:hover {
    background-color: blue;
    color: white;
}

.lesson1:hover {
    background-color: red;
}

.lesson2:hover {
    background-color: orange;
}

.lesson3:hover {
    background-color: yellow;
}

.lesson4:hover {
    background-color: green;
}

.lesson5:hover {
    background-color: blue;
}